name: VirusTotal Scan

on:
  release:
    types: [published]

jobs:
  virustotal:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Get assets
        uses: robinraju/release-downloader@v1
        with:
          tag: ${{ github.event.release.tag_name }}
          fileName: "LiveryLink*.zip"
          out-file-path: assets

      - name: VirusTotal Scan
        uses: cssnr/virustotal-action@v1
        with:
          vt_api_key: ${{ secrets.VT_API_KEY }}
          file_globs: assets/LiveryLink*.zip
          update_release: true